/* Комбинированный селектор - применяется ко всем элементам */
header, footer, aside, body, .navbar, .video-container {
    font-family: "Helvetica 65 Medium", sans-serif;
}

header, footer, body, .video-container {
    background-color: #fafbfc;
}

header {
    /*color: black;*/
    padding-left: 1%;
    padding-top: 1.2%;
}

/*#header-index{
    color: #ea3810;
}*/
#search {
    border-radius: 10px 10px 10px 10px;
}

#search:focus {
    outline: none;
    border: 3px solid black;

}

.video-container {
    display: inline-block;
    padding-left: 1%;
    padding-top: 1%;
}

.navbar a {
    text-decoration: none;
}

.navbar p {
    color: darkgray;
    padding-left: 15%;
}

.navbar p:hover {
    color: aliceblue;
}

header {
    padding-left: 1%;
    padding-top: 1.2%;
}

footer {
    position: absolute;
    bottom: 0;
    font-size: medium;
    color: dimgrey;
    line-height: 66%;
    padding-left: 1%;
}

aside {
    height: 100%; /* Высота в полный размер. Этот параметр можно убрать, если вы хотите выставлять высоту автоматически */
    width: 10%;
    position: absolute; /* Фиксированная позиция сайд-бара. Так он будет оставаться на месте при скроллинге */
    z-index: 1; /* Сайд-бар будет поверх остальных элементов */
    top: 0; /* Сайдбар будет в самой верхней части страницы */
    left: 0;
    background-color: #111; /* Черный цвет фона (задан в виде кода) */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    padding-top: 2%;
    font-size: large;
}

body {
    padding-left: 11%;
}

.review-container, .review-button {
    display: inline-block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}

.review-text {
    display: block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}

