<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/Css/Index.css" rel="stylesheet" type="text/css">
    <script src="../Static/Js/About.js" type="text/javascript"></script>
    <script>
        const writeReview = review => {
            let likeCounter = '';

            // Для проверки, является ли объект отзывом, используем свойство hasOwnProperty
            if (review.hasOwnProperty('rate')) {
                likeCounter += '           <b style="color: darkgray">Рейтинг:</b>   ' + review.rate;
            }

            // Запишем результат
            document.getElementsByClassName('reviews')[0].innerHTML += '    <div class="review-text">\n' +
                `<p> <i> <b>${review['author']}</b>  ${review['date']}${likeCounter}</i></p>` +
                `<p>${review['text']}</p>` +
                '</div>';
        }
    </script>
</head>
<header>
    <h1>LifeSpot - о проекте</h1>
    <p>На сайте собраны прямые трансляции из улиц разных городов мира.</p>
    <p>Все трансляции находятся в открытых источниках, в данный момент - youtube.com</p>
    <p>Отзыв о работе сайта можно оставить здесь</p>
</header>
<!--SIDEBAR-->
<body>
<div class="reviews">
    <div class="review-button">
        <button onclick="getComment()">Оставить отзыв</button>
    </div>
</div>
</body>
<!--FOOTER-->
</html>