<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <!--Подключение стилей по относительному пути из внешнего файла-->
    <link href="../Static/Css/Index.css" rel="stylesheet" type="text/css">
    <script src="../Static/Js/Index.js" type="text/javascript"></script>
    <script>
        // Обработка сессии
        handleSession(logger, checker);

        // Функция получения пользовательского ввода
        const inputParseFunction = function () {
            return document.getElementsByTagName('input')[0].value.toLowerCase();
        }

        setTimeout(() => alert("Нравится LifeSpot? " + '\n' + "Подпишитесь на наш Instagram @lifespot!"), 30000);
    </script>
</head>
<header id="header-index">
    <!--Заголовок-->
    <h1>LifeSpot — прямые трансляции с улиц</h1>
    <!--Параграф-->
    <p>Покажем, что происходит прямо сейчас</p>
    <input type="text" oninput=" 
    filterContent()
" id="search" placeholder=" Введите название видео" size=50%/>
</header>
<!--SIDEBAR-->
<body>
<div class="bordered">
    <!--Нью-Йорк-->
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/srlpC5tmhYs" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        <h3 class="video-title">Нью-Йорк, Брайант Парк</h3>
    </div>
    <!--Санкт-Петербург-->
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wCcMcaiRbhM" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        <h3 class="video-title">Санкт-Петербург, Невский Проспект</h3>
    </div>
    <!--Лондон-->
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        <h3 class="video-title">Лондон, автобусный маршрут</h3>
    </div>
</div>

<footer>
    <p>LifeSpot - все права защищены</p>
    <p>Связаться с нами: contact@lifespot.ru</p>
</footer>
</body>
<!--FOOTER-->

</html>